body {
  background-color: #101820;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: aliceblue;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
}

.navbar ul {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: rgb(196, 13, 13)05, 11, 11)89, 16, 16);
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
}

.navbar .logo-text {
  color: white;
  font-family: "montserrat", sans-serif;
  color: rgb(196, 13, 13);
  font-size: 20px;
  font-weight: bold;
}

.input {
  margin-right: 1000px;
  padding: 100px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.result {
  background-color: blue;
  padding: 80px;
  position: absolute;
  margin-top: -475px;
  margin-left: 800px;
  font-family: "montserrat", sans-serif;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: 400px;
}

.bar-container {
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.bar {
  height: 100%;
  width: 0%;
  transition: width 0.8s ease-in-out;
  background: linear-gradient(90deg, #6a82fb, #fc5c7d, #f7b733);
  background-size: 200% 100%;
  animation: moveGradient 2s linear infinite;
}

